@using Tes.App.Extensions
@model Tes.App.ViewModels.FornecedorViewModel

@{
    ViewData["Title"] = "Details";
}

<h4>@ViewData["Title"]</h4>

<div>
    <h4>Informaçoes somente para leitura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd class = "col-sm-10">
            @this.FormataDocumento(Model.TipoFornecedor,Model.Documento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
</div>
<param name="_detalheEndereco" />
<div>
    <a class="btn btn-danger" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a class="btn btn-dark" asp-action="Index">Voltar</a>
</div>
